.mainBody {
  font-family: 'Amatic SC', 'Source Sans Pro', sans-serif;
}

.jumbotron {
  background: transparent !important;
  font-family: 'Amatic SC', 'Source Sans Pro', sans-serif;
  font-size: 50px;
  height: 100px;
  color: #f19339;
}

.startGame {
  color: white;
  font-size: 25px;
}

.questionHeader {
  margin-top: 0px;
  font-size: 50px;
  background-color: #72f7fa;
}

.questionNumber {
  color: #474747;
}

.question {
  color: #d58ab2;
}

.answers {
  margin-top: 250px;
  color: white;
  font-size: 35px;
}

.footer {
  color: white;
  position: fixed;
  margin-left: -15px;
  bottom: 0;
  height: 75px;
  line-height: 60px;
  background-color: #d93529;
  font-size: 55px;
}

@media screen and (min-width: 320px) {
  .jumbotron {
    font-size: 40px;
  }
  .questionHeader, question {
    font-size: 25px;
  }
  .answers {
    margin-top: 10px;
    font-size: 20px;
  }
}

@media screen and (min-width: 425px) {
  .jumbotron {
    font-size: 40px;
  }
  .questionHeader, question {
    font-size: 25px;
  }
  .answers {
    margin-top: 10px;
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  .questionHeader, question {
    font-size: 35px;
  }
  .answers {
    font-size: 35px;
    margin-top: 5px;
  }
}